<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" style="position: absolute; left: 20%;max-width: 80%;">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":500,"width":700,"zoom":11,"queryString":"Запорожье, Запорожская область, Украина","place_id":"ChIJA7uF-j1n3EARSj9NB9lcZ34","satellite":false,"centerCoord":[47.8563325637464,35.175353549999976],"cid":"0x7e675cd9074d3f4a","lang":"ru","cityUrl":"/ukraine/zaporizhia-46653","cityAnchorText":"Карта [CITY1], Запорожье, Украина","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"243742"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=243742';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/ru/map-embed"></a></div>